/.idea/
/.vs/
/KEBHtool/bin/
/KEBHtool/lib/
/KEBHtool/obj/
/KEBHtool.Wpf.Demo/bin/
/KEBHtool.Wpf.Demo/obj/
/publish/
*.nupkg
/publish/KEBHtool
/publish
/KBEHtool/obj
/KBEHtool/lib
/KBEHtool.Wpf.Demo/obj
/KBEHtool.Wpf.Demo/bin
/KBEHtool.Wpf.Demo/bin
/KBEHtool.Wpf.Demo/bin
/KBEHtool/bin
