/.idea/
/.vs/
/KEBHtool/bin/
/KEBHtool/lib/
/KEBHtool/obj/
/KEBHtool.Wpf.Test/bin/
/KEBHtool.Wpf.Test/obj/
/publish/
*.nupkg
/publish/KEBHtool
/publish
/KBEHtool/obj
/KBEHtool/lib
/KBEHtool.Wpf.Test/obj
/KBEHtool.Wpf.Test/bin
/KBEHtool.Wpf.Test/bin
/KBEHtool.Wpf.Test/bin
/KBEHtool/bin
